################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Development/TPS/Business.Domain/obj
/Development/TPS/.vs/TPS/v16
/Development/TPS/Infrastructure.String/obj
/.vs
/Development/TPS/.vs/TPS/DesignTimeBuild/.dtbcache.v2
/Development/TPS/.vs/TPS/DesignTimeBuild/.dtbcache.v2
/Development/TPS/.vs/TPS/DesignTimeBuild
/Development/TPS/Business.Domain/bin/Debug/net5.0
/Development/TPS/Infrastructure.String/bin/Debug/net5.0
