################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Development/TPS/Business.Domain/obj
/Development/TPS/.vs/TPS/v16
/Development/TPS/Infrastructure.String/obj
/.vs
