################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Development/TPS/Business.Domain/obj
/Development/TPS/.vs/TPS/v16
/Development/TPS/Infrastructure.String/obj
/.vs
/Development/TPS/.vs/TPS/DesignTimeBuild/.dtbcache.v2
/Development/TPS/.vs/TPS/DesignTimeBuild/.dtbcache.v2
/Development/TPS/.vs/TPS/DesignTimeBuild
/Development/TPS/Business.Domain/bin/Debug/net5.0
/Development/TPS/Infrastructure.String/bin/Debug/net5.0
/Development/Hardware/PickingFace/Debug
/Development/Hardware/PickingFace/.vs/PickingFace/v16
/Development/Hardware/packages/FreeRTOS
/Development/TPS/Application.Picking/obj
/Development/TPS/Application.Picking.Interface/obj
/Development/TPS/Application.User/obj
/Development/TPS/Application.User.Interface/obj
/Development/TPS/Application.Warehouse/obj
/Development/TPS/Application.Warehouse.Interface/obj
/Development/TPS/Repository.Picking/obj
/Development/TPS/Repository.Picking.Interface/obj
/Development/TPS/API.Picking/bin/Debug/net5.0
/Development/TPS/API.Picking/obj
/Development/TPS/Application.Picking/bin/Debug/net5.0
/Development/TPS/Application.Picking.Interface/bin/Debug/net5.0
/Development/TPS/Application.User/bin/Debug/net5.0
/Development/TPS/Application.User.Interface/bin/Debug/net5.0
/Development/TPS/Application.Warehouse/bin/Debug/net5.0
/Development/TPS/Application.Warehouse.Interface/bin/Debug/net5.0
/Development/TPS/Database.Picking/bin/Debug/net5.0
/Development/TPS/Database.Picking/obj
/Development/TPS/Repository.Picking/bin/Debug/net5.0
/Development/TPS/Repository.Picking.Interface/bin/Debug/net5.0
/Development/TPS/API.Administration/bin/Debug/net5.0
/Development/TPS/API.Administration/obj
/Development/TPS/Business.Domain.Administration/bin/Debug/net5.0
/Development/TPS/Business.Domain.Administration/obj
/Development/TPS/Database.Administration/bin/Debug/net5.0
/Development/TPS/Database.Administration/obj
/Development/TPS/Repository.Administration/bin/Debug/net5.0
/Development/TPS/Repository.Administration/obj
/Development/TPS/Repository.Administration.Interface/bin/Debug/net5.0
/Development/TPS/Repository.Administration.Interface/obj
/Development/TPS/API.Warehouse/bin/Debug/net5.0
/Development/TPS/API.Warehouse/obj
/Development/TPS/Business.Domain.Warehouse/bin/Debug/net5.0
/Development/TPS/Business.Domain.Warehouse/obj
/Development/TPS/Database.Warehouse/bin/Debug/net5.0
/Development/TPS/Database.Warehouse/obj
/Development/TPS/Repository.Warehouse/bin/Debug/net5.0
/Development/TPS/Repository.Warehouse/obj
/Development/TPS/Repository.Warehouse.Interface/bin/Debug/net5.0
/Development/TPS/Repository.Warehouse.Interface/obj
/Development/Hardware/PickingFace - Teste
